{% extends "base.html" %}
{% load staticfiles %}


{% load bootstrap3 %}

{% block content %}
        <h1>Percentage of packages delivered per leadtime (days) in GMA</h1>

        <canvas id="myChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "exam_app:line_chart_json_gma" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'bar', data: data
                });
            });
        </script>
{% endblock %}